:root {
  --main-bg-color: #030204;
  --main-grey: #aeadac;
  --main-white: #f2f2f2;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  overscroll-behavior: none;
  cursor: none;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-grey);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--main-white);
  border-radius: 10px;
}

iframe {
  height: 1000px;
  width: 1000px;
  position: fixed;
  left: 50%;
  top: 10%;
  opacity: .25;
}



#title {
  margin: 0;
  padding: 0 0 0 10%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}

#intro {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 200px;
  color: var(--main-grey);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif; 
  position: relative;
  top: -15%;
}

#name {
  margin: 0;
  padding: 0;
  color: var(--main-white);
  font-size: 8rem;
  font-family: 'Fondamento', 'Quicksand', sans-serif;
}

#content {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}

.item {
  margin: 20% 0 20% 0;
  padding: 0 0 0 10%;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item > .img {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
}

.item--text {
  margin: 0 0 0 20%;
  padding: 0;
  width: 25%;
}

.item--text > span {
  margin: 0;
  padding: 0;
  color: var(--main-grey);
  font-family: 'Quicksand', sans-serif; 
}

.item--text > p {
  margin: 0;
  padding: 0;
  color: var(--main-white);
  font-family: 'Quicksand', sans-serif; 
}

.item--text > h1 {
  margin: 0;
  padding: 0;
  color: var(--main-white);
  font-size: 3.5rem;
  font-family: 'Fondamento', 'Quicksand', sans-serif
}

#footer {
  margin: 0;
  padding: 0 0 5% 10%;
  width: 100%;
  height: 20vh;
}

#footer--text {
  margin: 0;
  padding: 0;
  color: var(--main-grey);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif; 
  width: 200px;
}

a:-webkit-any-link {
  color: var(--main-grey);
  text-decoration: none;
}

a:-webkit-any-link:hover {
  color: var(--main-white);
  text-decoration: underline;
  cursor: none;
}

#item1 > .img {
  background: url("images/MOSHED-2022-11-21-12-17-39.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#item2 > .img {
  background: url("images/projects.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

#item3 > .img {
  background: url("images/code.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

#item4 > .img {
  background: url("images/inspiration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#item5 > .img {
  background: url("images/ing-otT2199XwI8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro--text {
  color: var(--main-white);
  font-size: 8rem;
  width: 100%;
  height: 100%;
  font-family: 'Fondamento', 'Quicksand', sans-serif;
  position: absolute;
  top: 20vh;
  text-align: center;
}

.cursor {
  pointer-events: none;
  position: fixed;
  top: -15%;
  padding: .75rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 5;
}

.bold {
  color: var(--main-white);
  font-weight: 1000;
}

@media (max-width: 1400px) {
  #name > p {
      font-size: 6rem;
  }

  #intro {
      top: -10%;
  }
}

@media (max-width: 1050px) {
  #name > p {
      font-size: 4.5rem;
  }

  #intro {
      top: -5%;
  }

  .item--text {
      margin: 0 0 0 10%;
  }

  .item > .img {
      width: 40%;
      height: 80%;
  }
}

@media (max-width: 900px) {
  .item {
      display: flex;
      height: 100vh;
      width: 100%;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 50% 0;
  }

  .item--text {
      margin: auto;
      width:50%
      
  }
  .item > .img {
      width: 50vw;
      height: 50vw;
      margin-bottom: 5%;
  }
  
  #footer {
      padding-bottom: 10%;
  }
}

@media (max-width: 800px) {
  .intro--text {
      font-size: 5rem;
  }

  .item > .img {
      width: 60%;
      height: 60vw;
  }

  #name > p {
      font-size: 4rem;
  }

  #intro {
      top: 0%;
  }

  .item--text > h1{
      font-size: 2.75rem;
  }

  .item--text {
      margin: 0 0 0 0;
  }
  
}

@media (max-width: 700px) {
  .item--text {
      width:50%
  }

  .item--text > h1 {
      font-size: 1.75rem;
  }

  
  #name > p {
      font-size: 3.5rem;
  }

  iframe {
      top: 5;
  }

  #footer {
      padding-bottom: 15%;
  }
}

@media (max-width: 600px) {
  #name > p {
      font-size: 4.5rem;
  }

  #intro {
      top: -5%;
  }

  iframe {
      top: 10%;
      left: 50%;
  }
  
}


@media (max-width: 450px) {
  .intro--text {
      font-size: 3rem;
  }

  .item > .img {
      width: 50%;
      height: 50vw;
  }

  
  .item--text {
      margin: 0 0 0 0;
  }

  #name > p {
      font-size: 3.3rem;
  }

  .item--text > h1 {
      font-size: 1.25rem;
  }

  #footer {
      padding-bottom: 18%;
  }
}